* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex-grow: 1;
}

.row {
  flex-grow: 1;
}

body,
html {
  height: 100dvh;
}

#mainDiv {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

/* .col-6 {
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* ========================
   Header
======================== */

.header {
  text-align: center;
}

/* ========================
   Search Input Group
======================== */
.SearchAndFavorites {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: fit-content;
}

.SearchAndFavorites input {
  padding: 7px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 60%;
  background: #f1f1f1 !important;
  border-left: none;
}

.SearchAndFavorites input:focus {
  outline: none;
  box-shadow: none;
}

#btntickerTextBox {
  float: left;
  width: 20%;
  padding: 7px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  border-radius: 0px !important ;
}

#btntickerTextBox:hover {
  background: #0b7dda;
}

/* addFavoriteButton */
#addFavoriteButton {
  float: left;
  width: 20%;
  padding: 7px;
  background: #f1f1f1;
  color: black;
  font-size: 17px;
  border: 1px solid grey;
  border-right: none;
  cursor: pointer;
  border-radius: 0px !important ;
}

/* ========================
   Chart type selector
======================== */
#ChartTypeSelector {
  appearance: none; /* standard */
  -webkit-appearance: none; /* safari */
  -moz-appearance: none;
  display: block;
  margin: 0px;
  background: #f1f1f1;
  margin: auto;
  font-size: 17px;
  padding: 0px;
  width: 100%;
  /* height: 100%; */
  border: 1px solid grey;
  border-left: none;
  border-right: none;
  text-align-last: center;
}

#ChartTypeSelector:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

/* ========================
 Chart 
======================== */
canvas#chartCanvas {
  flex-grow: 1;
  width: 100% !important;
  height: 100% !important;
}
.canvas-row {
  flex: 1 1 auto;
}

.chart-wrapper {
  flex: 1 1 auto;
  height: 100%;
  display: flex;
}
/* ========================
   Mode Switch for Sliders
======================== */

.mode-switch {
  display: flex;
  flex-direction: column;
  margin: 0 !important;
  padding: 1px;
  border: 1px solid;
}

#toggleDateRange,
#toggleInterval {
  padding: 0 !important;
}

/* ========================
   Slider Controls Group
======================== */
.slider-group-horizontal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.slider-group input[type="range"] {
  flex-grow: 1;
  width: 100%;
}

/* ========================
   heights
======================== */

.header-row {
  flex: 0 0 auto;
  /* min-height: 60px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.typeSelectorSearchfield-row {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
