* {
  box-sizing: border-box;
}

/* Search Field and buttonbutton */
.SearchAndFavorites {
  display: flex;
  margin-bottom: 1px;
}

.SearchAndFavorites input {
  padding: 7px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 60%;
  background: #f1f1f1;
  border-left: none;
}

#btntickerTextBox {
  float: left;
  width: 20%;
  padding: 7px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  border-radius: 0px !important ;
}

#btntickerTextBox:hover {
  background: #0b7dda;
}

.SearchAndFavorites {
  content: "";
  clear: both;
  display: table;
}

/* addFavoriteButton */
#addFavoriteButton {
    float: left;
    width: 20%;
    padding: 7px;
    background: #f1f1f1;;
    color: black;
    font-size: 17px;
    border: 1px solid grey;
    border-right: none; 
    cursor: pointer;
    border-radius: 0px !important ;
  }
}
